*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

h1{
    padding-top: 60px;
    text-align: center;
}

/* Menú */

img.menu{
    position: relative;
    margin-left: 35px;
    margin-top: 3px;
}

img.logo{
    position: relative;
    margin-left: 50px;
    margin-top: 3px;
}

nav{
    float: left;
}

.header{
    position: fixed;
    background: #242427;
    width: 100%;
    height: 62px;
    box-shadow: 0, 0, 30px  #ffffff;
    border-bottom-style: solid;
    border-bottom-color: rgb(122, 122, 122);
    border-bottom-width: 3px;
}

.encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
    
}

a.enlace{
    text-align: right;
}

.logo{
    width: 36%;
    height: auto; overflow: hidden;
    float: left;
    margin-left: -85px;
}

.menu {
    width: 60%;
    height: 40px;
    float: right;
    border: 1px;
    margin-top: 20px;
    text-align: right;
    margin-right: -170px;
}

.menu .enlace{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    padding: 11px;
    font-size: 16px;
}

.menu .enlace:hover{
    color: #757575ea;
    transition: all .5s;

}

.menu > ul {
    list-style: none;
    display: flex;
}

.submenu{
    display: none;
    background-color: #272729ec;
    padding: 20px;
    list-style: none;
    position: absolute;
    top:60px;
    left: 800px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 5px;
    width: 18%;
    padding-left: 15px;
    padding-top: 10px;
}

.submenu li{
    text-align: start;
    padding: 5px;
}

.submenu a{
    text-decoration: none;
    color:white;
    
}

.hover:hover .submenu{
    display: block !important;
}
    


img.isocial{
    
    margin-left: 6px;
    margin-top: 0px;
    width: 25px;
    height: 25px;
}

img.fsocial{
    
    margin-left: 8px;
    margin-top: 0px;
    width: 25px;
    height: 25px;
}


div.rigth{
    width: 100%;
    height: 50px;
    background: #2b2a2a;
}

p.rigths{
    position: relative;
    text-align: center;
    top: 20px;
    color: #ffffff;
}

p.social{
    position: relative;
    text-align: right;
    margin-right: 300px;
    top: 50px;
    font-family: sans-serif;
    font-size: 19px;
}

hr.line3{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    
    margin-top: 1px;
    border: rgba(19, 19, 19, 0.884) 1px solid;
}

table.t1{
    margin-left: 120px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 19px;
}

table.t1 .tr1{
    font-family: sans-serif;
    font-size: 14px;
    color:#c5c5c5;
}

table.t2{
    
    margin-left: 520px;
    margin-top: -89px;
    font-family: sans-serif;
    font-size: 19px;
}

table.t2 .tr2{
    font-family: sans-serif;
    font-size: 14px;
    color:#c5c5c5;
}

table.t3{
    margin-left: 850px;
    margin-top: -106px;
    font-family: sans-serif;
    font-size: 19px;
}

hr{
    margin-top: 5px;
    border: rgba(90, 90, 90, 0.884) 1px solid;
}

/* Blog */

#principal{
    width: 80%;
    height: auto; overflow: hidden;
    margin: 10px auto;
}

#publicaciones{
    width: 70%;
    height: auto; overflow: hidden;
    margin-top: 10px;
    float: center;
    margin-left: 180px;
}

.post{
    width: 96%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color:  rgb(21, 5, 94);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    margin-bottom: 25px;
}

.enlace-post{
    text-decoration: none;
}

#publicaciones a .titulo-post{
    color: #6e6e6e;
    font-size: 22px;
    font-family: 'calibri light';
}

#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}

#publicaciones .img-post{
    width: 150px;
    height: 75px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border-radius: 5px;
}

#publicaciones .datos-publicaciones{
    font-family: 'calibri light';
    color:  rgb(21, 5, 94);
}

#publicaciones .parrafo-post{
    font-family: 'calibri light';
    font-size: 16px;
    color: #848484;
    padding: 5px;
}

#publicaciones .leer-mas{
    background:  rgb(21, 5, 94);
    color: #ffffff;
    border:  0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: rgb(21, 5, 94);
}

#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
    color: rgb(21, 5, 94);
}

#sidebar{
    float: right;
    width: 28%;
    height: auto; overflow: hidden;
    margin-top: 10px;
}

#buscar, #categorias, #sitios-amigos, #ultimos-posts{
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(105, 110, 110);
    height: auto; overflow: hidden;
    margin-bottom: 20px;
}

form{
    margin-top: 15px;
}


#buscar .boton{
    border: 0px;
    color: #ffffff;
    background: #0B4C5F;
    padding: 10px;
    border-radius: 5px;
}

.encabezado-sidebar{
    width: 100%;
    height: 35px;
    background: rgb(21, 5, 94);
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    font-family: 'calibri light';
}

.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgb(88, 114, 106);
    padding: 10px 5px;
    color: rgb(129, 137, 209);
    text-align: center;
}

.enlace-sidebar:hover{
    background: #0B3B39;
}